@media (max-width: 768px) {
    .dummy {
        display: none;
    }

    .header {
        display: flex;
        align-content: center;
        flex-direction: column;
        justify-content: center;
    }

    .headerLogoContainer {
        display: flex;
        align-items: center;
    }

    .header_text {
        display: flex;
        justify-content: center;
        margin-top: 30px;
        transition: all .4s;
        align-items: center;
    }
    .header_title{
        font-size: 3em;
    }

    ul :nth-child(2) {
        display: none;
    }

    ul :nth-child(1),ul :nth-child(3){
        margin: 0.7em;
    }

    .content1 {
        background: url('bg1.jpg') 0 0;
        font-size: .7em;
    }

    .desc{
        min-width: 80vw;
    }

    .curriculum {
        display: none;
    }

    .qnaBox {
        max-height: 20em;
    }

    .footerDummy{
        display: none;
    }
}